# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# MGS workflow
work/
workflow_results/
data/

# Mac things
.DS_Store
